# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Uploaded files
static/uploads/*
static/resume/*
!static/uploads/.gitkeep
!static/resume/.gitkeep

# Logs
*.log
logs/ 

# md files
fileStructure.md
Progress.md
